<table><tr>
    <td><div class="input-group">
        <span class="input-group-btn" (click)="getData()">
            <button class="btn btn-default" type="button">View </button>
        </span>
        <input type="number" [(ngModel)]="timeFrame" class="form-control">
        <span class="input-group-btn" (click)="getData()">
            <button class="btn btn-default" type="button"> days </button>
        </span>
    </div></td>
    <td></td>
</tr></table>
<hr>

<div *ngIf="showTable">
    <table class="table table-striped table-responsive text-center">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Chicken Eggs</th>
                <th class="text-center">Duck Eggs</th>
                <th class="text-center">Goat Milk</th>
            </tr>
        </thead>
        <tbody *ngIf="table">
            <tr *ngFor="let row of table">
                <td>{{ row.date }}</td>
                <td>{{ row.chickenEggs }}</td>
                <td>{{ row.duckEggs }}</td>
                <td>{{ row.goatMilk }}</td>
            </tr>
        <tbody>    
    </table>
    <div *ngIf="!table" class="alert alert-info">
            Loading Data...
    </div>
</div>